.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "box1 box2 box3";

  &__box {
    @extend %carbon-fibre;

    &--1 {
      grid-area: box1;
    }

    &--2 {
      grid-area: box2;
    }

    &--3 {
      grid-area: box3;
    }
  }
}
