.footer {
  @extend %wiggles;
  grid-area: footer;

  ul {
      padding: 0;
  }

  li {
      list-style: none;
      line-height: 1.5em;
  }

  h3 {
    color: #FFF;
  }

  a {
      text-decoration: none;
      color: #FFF;
  }
}

.navcols {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "navcol1"
    "navcol2"
    "navcol3"
    "navcol4";
  text-align: center;

  &__navcol {
    background: purple;

    &--1 {
      grid-area: navcol1;
    }

    &--2 {
      grid-area: navcol2;
    }

    &--3 {
      grid-area: navcol3;
    }

    &--4 {
      grid-area: navcol4;
    }
  }
}

@media screen and (min-width: 600px) {
  .navcols {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "navcol1 navcol2"
      "navcol3 navcol4";
  }
}

@media screen and (min-width: 1024px) {
  .navcols {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
      "navcol1 navcol2 navcol3 navcol4";
  }
}
