.header {
  @extend %pinstripe;
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". neon ."
    "services services services"
    ". . .";
  padding: 0 $gutter;
}

@media screen and (min-width: 768px) {
  .header {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      ". . neon . ."
      ". services services services ."
      ". . . . .";
  }
}

.neon {
  color: #FFF;
  transition: all 0.5s;
  animation: neon2 1.5s ease-in-out infinite alternate;
  font-family: 'Iceland', cursive;
  font-size: 4em;
  grid-area: neon;
}
