.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "service1 service2 service3";
  grid-area: services;
  gap: $gutter;

  &__service {
    background: rgba(255,0,0,0.4);
    border-radius: 9px;

    &--1 {
      grid-area: service1;
    }

    &--2 {
      grid-area: service2;
    }

    &--3 {
      grid-area: service3;
    }
  }
}

@media screen and (min-width: 768px) {
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    ". service1 service2 service3 .";
}
