$grid-items: (
  navbar: (navbar, lightgreen),
  main: (main, lightgrey),
  sidebar: (sidebar, yellow),
  boxes--one: (boxes1, lightpink),
  boxes--two: (boxes2, purple),
  boxes--three: (boxes3, violet)
);

@each $item, $value in $grid-items {
  .#{$item} {
    grid-area: nth($value, 1);
    background-color: nth($value, 2);
  }
}

.footer {
  @extend %wiggles;
  grid-area: footer;
  text-align: footer;
}

.sections {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 1fr 1fr auto;
  grid-template-areas:
    "section1"
    "section2"
    "section3"
    "section4"
    "section5";

  &__section--1 {
    grid-area: section1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
  }

  &__section--2 {
    grid-area: section2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
  }

  &__section--3 {
    grid-area: section3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "main"
      "sidebar";
  }

  &__section--4  {
    grid-area: section4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "boxes";
  }

  &__section--5  {
    grid-area: section5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "footer";
  }
}

@media screen and (min-width: 768px) {
  .sections {
    &__section--3 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "main main sidebar";
    }
  }
}
