.html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

$gutter: 16px;

body,
html {
  margin: 0;
  padding: 0;
}

$grid-items: (
  navbar: (navbar, lightgreen),
  header: (header, lightblue),
  main: (main, lightgrey),
  sidebar: (sidebar, yellow),
  aside-1: (aside1, lightpink),
  aside-2: (aside2, purple),
  aside-3: (aside3, violet),
  footer: (footer, #666)
);

@each $item, $value in $grid-items {
  .#{$item} {
    grid-area: nth($value, 1);
    background-color: nth($value, 2);
  }
}

#grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 150px 1fr 1fr 1fr 50px;
  grid-template-areas:
    "navbar"
    "header"
    "main"
    "main"
    "sidebar"
    "sidebar"
    "aside1"
    "aside2"
    "aside3"
    "footer";
  height: 100vh;
  gap: $gutter;
  padding: $gutter;
}

@media screen and (min-width: 768px) {
  #grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "navbar navbar navbar"
      "header header header"
      "main main sidebar"
      "main main sidebar"
      "aside1 aside2 aside3"
      "footer footer footer";
  }
}
